*{
  font-family: 'Poppins', sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-link {
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.home-link:hover {
  background-color: #f2f2f2;
}

.player-bio-container {
  padding: 5px;
  margin-bottom: 10px;
}

.player-bio-name {
  font-size: 24px;
  font-weight: bold;
}

.player-bio-image {
  width: 200px;
  height: auto;
}

.player-bio-info {
  margin-top: 10px;
  font-size: 16px;
}


.stats-cell {
  font-size: 18px;
  font-weight: bold;
}

.table-header {
  font-weight: 'bold';
  color: '#f5f0e1';
  font-size: "16px";
}